# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.un~
*.swo
*.swp

build/*

*.opendb

*.db

vs2015/x64/

*.pdb

vs2015/CMakeFiles/

vs2015/\.vs/

external/
